
/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  background: rgba(0,0,0,0.95);
  padding: 15px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #222;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color: red;
}

/* HERO */
.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero-image {
  width: 100%;
  max-width: 900px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.hero h1 {
  color: red;
  font-size: 48px;
  margin-top: 20px;
}

.subtitle {
  color: gray;
  font-size: 18px;
}

.hero-box {
  background: #1a1a1a;
  max-width: 700px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 12px;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 15px;
  background: red;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
  border-top: 1px solid #1f1f1f;
}

/* FEATURED BOX */
.featured-fight {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.featured-fight img {
  width: 300px;
  border-radius: 12px;
}

.featured-text {
  max-width: 400px;
  text-align: left;
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1a1a1a;
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  color: red;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background: #111;
  display: block;
}

/* FOOTER */
.footer {
  background: black;
  text-align: center;
  padding: 40px;
}

.footer h3 {
  color: red;
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  color: red;
}

/* ANIMATIONS */
* {
  scroll-behavior: smooth;
}

.hero,
.section {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}